@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: Raleway, Verdana, Arial, sans-serif;
}

section {
  padding-bottom: 15px;
  clear: both;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #012c40;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

/*headers*/

h1 {
  color: #ff404c;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  display: inline;
}

h2 {
  color: #ff404c;
  font-size: 36px;
  font-weight: 300;
  line-height: 29px;
  padding: 10px;
  margin-top: 30px;
}

h2:after {
  background-color: #ff404c;
  width: 30px;
  height: 2px;
  content: '';
  display: block;
  margin-top: 15px;
}

h3 {
  color: #8A9097;
  font-style: italic;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

h4 {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 17px;
  margin: 7px 0 65px 60px;
}

h5 {
    color: #414A52;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

h2,
h3,
h4,
h5 {
  padding: 15px 5%;

}

.clear-fix {
  overflow: auto;
}

/*navBar*/
.header-nav-wrapper {
    position: relative;
    background-color: #E4DFDA;
}

.header-nav-wrapper .primary-nav-wrapper {
    float: right;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.header-nav-wrapper nav {
    display: inline-block;
    margin-right: 60px;
    padding: 34px 0 33px
}
.header-nav-wrapper nav ul {
    display: inline-block;
}
.header-nav-wrapper nav ul li {
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: solid 1px #FFFFFF;
}
.header-nav-wrapper nav ul li:last-child {
    border-right: none;
}
.header-nav-wrapper nav ul li a {
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    color: #012c40;
}
.header-nav-wrapper nav ul li a:hover {
    color: #4281A4;
}
.header-nav-wrapper nav ul li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 2px;
    content: '';
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #4281A4;
}

.header-nav-wrapper nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.secondary-nav-wrapper {
    display: inline-block;
    padding: 35px 30px;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*header*/
#header {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  clear: right;
  width: 96%;
  margin: auto;
}

/*Work experience*/
#workExperience a {
  font-size: 20px;
}

/*Contacts*/
#topContacts li a {
  margin-top: 0;
  text-decoration: none;
}

/*Skills*/
#modal-otherkill {
  display: none;
}

#lets-connect {
  text-align: center;
}

#modal-otherkill img {
  width: 140px;
  height: 140px;
}

/*entries*/

.education-entry,
.work-entry,
.project-entry,
.online-education-entry {
  padding: 0 5%;
}

/*span values*/

.date-text {
  color: #1ca5b8;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.location-text {
  color: #1ca5b8;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;

}


/*Color text*/
.text-color-primary {
  color: #ff404c;
}

.white-text {
  font-weight: bold;
  color: #fff;
  vertical-align: super;
}

.welcome-message {
  color: #fff;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  color: #ff404c;
  display: none;
}


/*Layout Flex Box Structure*/
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}


/*Profile Pic*/

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}


/*footer*/
.has-padding {
    padding: 55px 0;
 }

.footer-bg {
    background-color: #414A52
}

.footer-title {
  background-color: #ff404c;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  .projectpic {
    max-width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
